/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}

.body {
   font-family: Roboto;
   max-width: 1400px;

}
.container {
    max-width: 1600px;
    width: 100%;
  
   
}
 

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 100px;

}

.header__container .logo  img {
    width: 69px;
height: 69px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-right: 50px;

}

.header__container hr {
    width: 1400px;
height: 1px;

opacity: 0.1;
background: #0283F5;
margin-top: 100;
}

.header .nav  a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    text-decoration: none;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin-right: 50px;


}

.header .nav {
   max-width: 1200px;
}

.header .nav  a ul:hover{
    color:#1263b4;
}

    .header .nav a span {
        color: #0082F4;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 70px;
    }
   
    .header .button {
        text-align: center;
        width: 161px;
        height: 52px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 6px;
        -webkit-transition: all 0,5s;
        -o-transition: all 0,5s;
        transition: all 0,5s;
       

    }
    .header .home  li img {
        position: absolute;
        top: 10px;
    } 

    .header .button button{
        padding-top:  14px; 
        padding-left: 30px;
        padding-bottom: 14px;
        padding-right: 30px;
        border-radius: 6px;
background: #0082F4;

color: #FFF;
font-family: Roboto;
border:none;
cursor: pointer;

    }

    .header .button button:hover{
        background-color: #255177;
       
    }


    .main__container .main-text h6 {
        color: #0080FD;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.5px;
text-transform: uppercase;
    }

.main-text h1 {
    color: #000;
font-family: Roboto;
font-size: 60.55px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 78.715px */
}

.main-text span {
    color: #0082F4;
font-family: Roboto;
font-size: 60.55px;
font-style: normal;
font-weight: 700;
line-height: 130%;

}

.main-text {
    width: 555px;
   
}

.main-text p {
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6;
margin-top: 20px;
margin-bottom: 30px;
width: 436px;
height: 46px;
-ms-flex-negative: 0;
    flex-shrink: 0;
}
.main-text .button .get_button {
    padding-top:  14px; 
    padding-left: 30px;
    padding-bottom: 14px;
    padding-right: 30px;
    border-radius: 6px;
background: #0082F4;

color: #FFF;
font-family: Roboto;
border:none;
margin-right:30px ;
cursor: pointer;
-webkit-transition: all 0,5s;
-o-transition: all 0,5s;
transition: all 0,5s;
}


.main-text .button .get_button:hover{
background-color:#204f7e;
}
.main-text .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-text  .play__button {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    position: relative;
   
    -webkit-box-align:center;
   
        -ms-flex-align:center;
   
            align-items:center;
    background: #FFF;
    width: 188px;
    height: 63px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: none;
cursor: pointer;

}

.main-text  .play__button h4 {
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 10px;
margin-left: 10px;
}


.main-img  img {
   
height: 500px;
    width: 500px;
    margin-right: 40px;


}
.main-text {
    margin-left: 50px;
    margin-top: 100px;
}

.main {
   
  display: -webkit-box;
   
  display: -ms-flexbox;
   
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
 margin-left: auto;
margin-right: auto;
 margin-bottom: 150px;
}

.section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.section-img {
    width: 486px;
    height: 486px;
    margin-right: 150px;
    margin-left: 150px;

}




.section-text h6 {
    color: #0082F4;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section-text h2 {
    color: #000;
font-family: Roboto;
font-size: 49px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 63.7px */

width: 496px;
height: 122px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-bottom: 20px;
}

.section-text p {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */

width: 503px;
height: 90px;
-ms-flex-negative: 0;
    flex-shrink: 0;
opacity: 0.6;

margin-bottom: 30px;

}

.section-text button {
    width: 193px;
height: 63px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 10px;
background: #0082F4;
border:none;


color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

cursor: pointer;
}
.section-text button:hover{
    background-color:#0c4c85;
}

.section {
    margin-bottom: 100px;
}

.describe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center ;
        -ms-flex-align: center ;
            align-items: center ;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
}

.describe  .title {
    color: #000;
font-family: Roboto;
font-size: 48.44px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 72.66px */
margin-left: 520px;
margin-bottom: 60px; 

}

.describe .card-1 img {
width: 150px;
height: 150px;
margin-bottom: 60px;
}

.describe .card-1 h2{
    color: #000;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 36.4px */
}

.describe .card-1 p {
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */

width: 324px;
opacity: 0.7;
}


.describe .card-2 img{
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
    }
    .describe .card-2 h2 {
        color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 36.4px */
    }
    .describe .card-2 p{
        color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 345px;
opacity: 0.6;
}

.describe .card-3 img{
width: 150px;
height: 150px;
margin-bottom: 60px;
}
.describe .card-3 h2 {
    color: #000;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 36.4px */
}
.describe .card-3 p{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
width: 345px;
opacity: 0.6;
}

.describe {
    margin-bottom: 124px;
}
.about {
    margin-bottom: 150px;
}
.about .paragraf h2{
    color: #000;
font-family: Roboto;
font-size: 48.44px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 72.66px */

width: 712px;
margin-right: 275px;
}

.about__container{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
  
}

.about .paragraf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-left: 100px;
    margin-bottom: 60px;

}


.about .customer-1 {
   
    width: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
    margin-left: 100px;
    border-radius: 10px;

margin-bottom: 20px;

-webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);

        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
padding: 30px  92px 30px ;
padding-right: 10px;
}
.about__container {
    margin-bottom: 100px;
}


.about .customer-1 .customer {
    margin-left: 30px;
  position: absolute;
    top: 2370px;
}
.about .customer-1 p {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    opacity: 0.7;
    width: 201px;
    height: 120px;
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.about .customer-1 h4 {

    color: #000;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
width: 111px;
margin-left: 65px;
opacity: 0.9;
margin-bottom: 10px;
margin-left: 100px;

}

 .about  .customer-1 p1 {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
width: 161px;
margin-left: 65px;
opacity: 0.5;
margin-left: 100px;

 }


 .about .customer-2 {
    width: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
    margin-left: 70px;
    border-radius: 10px;
margin-bottom: 20px;
-webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);

 }

 .about .customer-2 .customer2 {
    width: 61px;
height: 61px;
-ms-flex-negative: 0;
    flex-shrink: 0;
position: relative;
top: 100px;
right: 50px;
 }

 .about  .customer-2 p {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    width: 255px;
    opacity: 0.7;
    margin-bottom: 35px;
    padding-top: 30px;
    padding-right: 50px;
 }
 .about .customer-2 h4{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    width: 98.631px;
    opacity: 0.9;
    margin-bottom: 10px;

    margin-left: 50px;
 }

 .about .customer-2 h6 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    width: 161px;
    opacity: 0.5;
    margin-left: 50px;
   

 }

 .auth__container {
   padding-top: 70px;
   padding-bottom: 50px;
  text-align: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-top: 200px;
    width: 1600px;
    height: 438px;
    background : rgba(232, 236, 255, 0.30);
    margin-bottom: 100px;
 }
.auth .auth-text h2{

    color: #058AFF;
text-align: right;
font-family: Roboto;
font-size: 31.25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 690px;
margin-bottom: 15px;
margin-top: 40px;
}
.auth .auth-text{
    /* display: flex; */
   -webkit-box-align:center;
       -ms-flex-align:center;
           align-items:center;
text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.auth-text p {
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.7;
margin-bottom: 60px;
margin-right: 150px;
}
 .auth .auth__container {
    width: 1600px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
   background-color: rgba(232, 236, 255, 0.30);


}


.auth .enter-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;

    width: 530px;
height: 82px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 10px;
border: 1px solid #058AFF;
margin-left: auto;
margin-right: auto;
margin-right: 610px;
margin-bottom: 116px;



}
.auth .enter-email img {
    width: 32px;
    height: 25px;
    margin-left: 20px;
margin-right: 25px;
}

.auth .enter-email input {
border-radius: 1px;
border: 1px solid #058AFF;

    margin-right: 174px;
    border:none;

    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 144px;
    height: 23px;
}

.auth .enter-email button {
    width: 102px;
height: 52px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 10px;
background: #0082F4;
border:none;
margin-right: 25px;
cursor: pointer;


color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;

}

.auth .enter-email button:hover{
    background-color: #204f7e;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 50px;
    padding-top: 30px;
   padding-bottom: 30px;
}
.footer__container  ul li  {
    list-style: none;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    opacity: 0.7;

}
.footer__container  ul li a {
    text-decoration: none;
   color: #000000;
}

.footer__container  ul li a:hover{
    color: #0080FD;
}

.footer__container  h2 {
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 37.5px */
}

.main_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
margin-bottom: 10px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    width: 1440px;
height: 120px;
-ms-flex-negative: 0;
    flex-shrink: 0;
background: -webkit-gradient(linear, left top, left bottom, from(#058AFF), color-stop(97.91%, rgba(57, 55, 206, 0.87)));
background: -o-linear-gradient(top, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);

}

.main_footer  h3 {
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
margin-right: 100px;
margin-left: 110px;
}

.main_footer .social-icons {
    width: 211px; 
    height: 31px;
    margin-left: 30px;
    margin-right: 40px;
}

.main_footer  button{
    width: 131px;
    height: 52px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 10px;
background: #FFF;
border:none;

color: #3C61E1;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
-webkit-transition: all 0,5s;
-o-transition: all 0,5s;
transition: all 0,5s;
cursor: pointer;
}

.main_footer  button:hover{
    background-color:#224364;

  
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}